/*https://www.dartmouthbusinessreview.org/all-news*/
*{
    margin: 0px;
    padding: 0px;
}
#content{
    margin-left: 10%;
    margin-right: 10%;
}
#headHero{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}
#headHero h1{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 90px;
    color: #00693E;
    width: 800px;
    border-right: 4px solid black;
}
#slogan{
    font-size: 32px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
    padding: 10px;
    position: relative;
    left: 4%;
}
#detailHead{
    background-color: #00693E;
    margin: 0px 10% 5px 10%;

}
#detailHead h1{
    font-family: 'Bebas Neue', sans-serif;
    background-color: #00693E;
    text-align: center;
    color: white;
    letter-spacing: 10px;
}
#detail{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
} 
#left{
    font-family: Arial,Helvetica,sans-serif;
    color: #00693E;
    font-weight: bold;
    font-size: 30px;
    width: 50%;
    position: relative;
    left: 10%;
    margin-top: 70px;
}
#right{
    width: 50%;
    text-align: justify;
}