body{
    background-color: azure;
}
#myd{
    height: 500px;
    margin: 50px 150px 50px 150px;
    box-shadow: 1px 1px 0.75rem grey;
    display: flex;
    border-radius: 20px;
}
.myBio{
    width: 70%;
    background-color: #E4EFE7;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
}
#intro{
    padding: 10px;
    font-family: 'Bebas Neue';
    letter-spacing: 5px;
}
.myBio h1{
    color: rgb(41, 197, 176);    
    font-size: 50px;
}
.myBio h2{
    color: #1687A7;
    font-size: 30px;
}
.proPic{
    background-image: url(../Images/ranjan.jpg);
    width: 30%;
    height: 500px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}
#nextIntro{
    width: 100%;
    height: 200px;
}
#nextIntro h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    letter-spacing: 10px;
    background-color: #3C415C;
}
.giveMeSameSize{
    width: 30%;
    margin: 10px;
    border-radius: 20px;
}

