*{
    margin: 0px;
    padding: 0px;
}
#backImg{
    background-image: url(../Images/healthcare-banner.jpg);
    width: 100%;
    height: 350px;
    background-size: cover;
}
#backImg h1{
    font-family: 'Bebas Neue', sans-serif;
    background-color: #00693E;
    text-align: center;
    color: white;
    letter-spacing: 10px;
    position: relative;
    top: 95%;
    margin-left: 10%;
    margin-right: 10%;
}
#left{
    font-weight: bolder;
}
#right{
    margin-top: 8%;
    font-family: Arial;
}
#mail{
    border-right: 2px solid black;
    width: 60%;
}
#reqForm{
    margin-top: 20%;
}
#reqForm input{
    width: 90%;
    height: 30px;
    margin-bottom: 2%;
    border-radius: 0px;
    border: 1px solid lightgrey;
    Padding: 3px 3px 3px 12px;
}
#reqForm input:hover{
    border: 3px solid lightgrey;
}
#reqForm input:focus{
    outline: 1px solid lightgrey;
}
#msg{
    border: 1px solid lightgrey;
    Padding: 3px 3px 3px 12px;
}
#msg textarea:hover{
    border: 10px solid lightgrey;
}
textarea:focus{
    outline: 2px solid lightgrey;
}
#reqForm #btn{
    background-color: forestgreen;
    width: 94%;
    height: 40px;
    border: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}
#reqForm #btn:hover{
    border: none;
    background-color: rgb(28, 28, 168);
}