*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f0f2f5;
}
#twoContent{
    display: flex;
}
form{
    position: relative;
    top: 80px;
    margin-left: 200px;
}
fieldset{
    font-family: 'Nunito', sans-serif;
    width: 396px;
    margin-left: 530px;
    height: 350px;
    background-color: white;
    border: none;
    border-radius: 5px;
}
.boxOp{
    width: 360px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    border: 1px solid lightgrey;
    padding: 10px;
}
.boxOp:focus{
    outline: none;
}
#content{
    margin: 20px;
    text-align: center;
}
.gap{
    margin: 3px;
}
.btnxa{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
#content .btn{
    background-color: dodgerblue;
    border: none;
    height: 50px;
    width: 380px;
    margin-left: 5px;
    border-radius: 10px;
}
.DHA{
    margin-left: 10px;
    margin: 15px;
    margin-bottom: 10px;
}
.first{
    margin-bottom: 10px;
}
.second{
    margin-bottom: 20px;
}
.fp{
    margin-bottom: 20px;
}
.imageLogo{
    width: 1px;
    height: 1px;
    position: relative;
    top: 120px;
    left: 180px;
}